favorites=Thunar.desktop,lxterminal.desktop,firefox.desktop,obx-control-panel.desktop
recent=obx-control-panel.desktop,Thunar.desktop,menulibre-system-monitor.desktop,xfce-settings-manager.desktop,leafpad.desktop
button-title=Obx
button-icon=mate
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
hover-switch-category=true
category-icon-size=1
load-hierarchy=false
recent-items-max=5
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
menu-width=400
menu-height=500
menu-opacity=70
command-settings=control_panel
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=false
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=oblogout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

