[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
GenericName=File Manager
Comment=Browse the filesystem with the file manager
Icon=file-manager
Exec=thunar %F
NoDisplay=false
Categories=Core;FileManager;FileTools;GTK;System;Utility;
StartupNotify=true
Terminal=false
